    <nav class="navbar navbar-expand-lg navbar-light ">
        <!-- <a class="navbar-brand brand-name" href="#">M Arief Hidayat</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link headerachor" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link headerachor" href="/education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link headerachor" href="/skill">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link headerachor" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link headerachor" href="/contact">Contact Me</a>
                </li>
            </ul>
    </nav>