<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid body_section">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <section id="contact">
        <div class="row first-section">
            <div class="col-lg-6 col-md-6">
                <img class="Profilepic" src="Image/arief.jpeg" alt="">
            </div>
            <div class="col-lg-6 col-md-6 context">
                <h1>Reach out to me !</h1>
                <p>I am avalible in almost every social platform.<br>
                    Discuss a project or just want to say hi ? My Inbox is always open for you :)</p>
                <ul class="ico">
                    <li class="icon"><a href="https://github.com/MuhammadAriefHidayat" target=_blank><span
                                class="iconify github" data-icon="ant-design:github-filled" data-inline="false"
                                data-width="50" data-height="50"></span></li></a>
                    <li class="icon"><a href="https://www.instagram.com/android_indo/" target=_blank><span
                                class="iconify instagram" data-icon="entypo-social:instagram-with-circle"
                                data-inline="false" data-width="50" data-height="50"></span></li></a>
                    <li class="icon"><a href="https://www.linkedin.com/in/mariefhidayat/" target=_blank><span
                                class="iconify linkedin" data-icon="entypo-social:linkedin-with-circle"
                                data-inline="false" data-width="50" data-height="50"></span></li></a>
                    <li class="icon"><a href="mailto:m.ariefhdyat@gmail.com" target=_blank><span class="iconify google"
                                data-icon="ant-design:google-plus-circle-filled" data-inline="false" data-width="50"
                                data-height="50"></span></li></a>
                </ul>
                <a href="https://drive.google.com/file/d/1IEgeIat_j9YCuxWWDr0Cpew7sy6cmfff/view?usp=sharing"
                    target=_blank><button type="button" class="sayhello Resume">See my Resume</button></a>
            </div>
        </div>
    </section>
    <section>
        <div class="second-section">
            <h1 class="connect">Let's connect and build something together</h1>
            <a class="sayhello" href="#contact">Say Hello <span class="wave">👋</span></a>
            <div class="col-lg-6 connect-image">
                <img class="connection" src="Image/connection.svg" alt="">
            </div>
        </div>
    </section>
    <footer class=footer>illustrations by Undraw</footer>
</body>

</html>