<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container-fluid body_section" style="background-color:#ffffff">
  <header>
    <%- include('../partials/header'); %>
  </header>

  <section id="Home" style="background-color: #5f84d3;">
    <div class="row column1">
      <div class="col-lg-6 col-md-6 first-image">
        <img class="boyimage" src="Image/20200630_162659.gif" alt="">
      </div>
      <div class="col-lg-6 section-1">
        <h2 class="Hello">Im Muhammad Arief Hidayat <span class="wave">👋</span></h2>
        <p>A passionate Android Developer having an more than 2 Years Working experience and 5 Years Coding
          Experience
        </p>
        <p>Connect Me on:</p>
        <div class=social_media_icon>
          <a class="btn" href="https://www.youtube.com/AriefHidayatDev/" target=_blank>
            <i class="fab fa-youtube"></i>
          </a>
          <a class="btn" href="https://www.linkedin.com/in/mariefhidayat/" target=_blank>
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
          <a class="btn" href="https://github.com/MuhammadAriefHidayat" target=_blank>
            <i class="fab fa-github"></i>
          </a>
          <a class="btn" href="https://play.google.com/store/apps/dev?id=8501429991923806069" target=_blank>
            <i class="fab fa-google-play"></i>
          </a>
        </div>
      </div>
      <div class="Image-boy col-lg-6"><img class="boy" src="Image/Boy-image.png" alt=""></div>
    </div>
  </section>
  <br><br>
  <footer class=footer>
    <p> Muhammad Arief Hidayat</p>
  </footer>
</body>

</html>