<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/projects.css">
</head>

<body class="container-fluid body_section">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <section id=Projects class="Sectionproject">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img class="projectimage" src="Image/Storyboard.gif" alt="">
            </div>
            <div class="col-lg-6 col-md-6 project-heading">
                <h1 class="P-heading">Projects</h1>
                <p class="p-text">Check Out Our Projects Below
                </p>
            </div>
        </div>
    </section>

    <section id=Projects class="Sectionproject">
        <div class="container-fluid">
            <div class="row Sectionproject">
                <div class="col-md-3">
                    <a href="/project/coloring">
                        <div class="card mb-4 boxx">
                            <img class="imgProject center" src="Image/Coloring.png">
                            <div class="card-body">
                                <p class="card-text ">Coloring Apps</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/project/Flambo">
                        <div class="card mb-4 boxx">
                            <img class="imgProject center" src="Image/Flambo.png">
                            <div class="card-body">
                                <p class="card-text ">Flambo</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/project/Barcode">
                        <div class="card mb-4 boxx">
                            <img class="imgProject center" src="Image/Barcode.png">
                            <div class="card-body">
                                <p class="card-text ">Barcode Apps
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/project/badakberjaya">
                        <div class="card mb-4 boxx">
                            <img class="imgProject center" src="/Image/cjmfmdlqruyvgyxxf17f.png">
                            <div class="card-body">
                                <p class="card-text">Badak Berjaya</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <p style="text-align: center; font-size: 16px;">More projects will be added soon</p>
    <!-- <footer class=footer></footer> -->
</body>

</html>