<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container-fluid body_section">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <section class="Section1">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img class="skill-img" src="Image/coding skill.svg" alt="">
            </div>
            <div class="col-lg-6 col-md-6">

                <div id="SkillBox">
                    <!-- <center class="Skill-heading">Proficiency</center> -->
                    <div class="SkillBar">
                        <div id="Skill-Kotlin">
                            <span class="Skill-Area iconify" data-icon="logos:kotlin" data-inline="false"
                                data-width="75" data-height="35"></span>
                        </div>
                    </div>

                    <div class="SkillBar">
                        <div id="Skill-Java">
                            <span class="Skill-Area iconify" data-icon="logos:java" data-inline="false" data-width="35"
                                data-height="35"></span>
                        </div>
                    </div>

                    <div class="SkillBar">
                        <div id="Skill-Kotlin">
                            <span class="Skill-Area iconify" data-icon="logos:android" data-inline="false"
                                data-width="75" data-height="35"></span>
                        </div>
                    </div>

                    <div class="SkillBar">
                        <div id="Skill-HTML">
                            <span class="Skill-Area iconify" data-icon="logos:html-5" data-inline="false"
                                data-width="35" data-height="35"></span>
                        </div>
                    </div>

                    <div class="SkillBar">
                        <div id="Skill-CSS">
                            <span class="Skill-Area iconify" data-icon="logos:css-3" data-inline="false" data-width="35"
                                data-height="35"></span>
                        </div>
                    </div>

                    <div class="SkillBar">
                        <div id="Skill-JS">
                            <span class="Skill-Area iconify" data-icon="logos:javascript" data-inline="false"
                                data-width="35" data-height="35"></span>
                        </div>
                    </div>

                    <div class="SkillBar">
                        <div id="Skill-SQL">
                            <span class="Skill-Area iconify" data-icon="dashicons:database" data-inline="false"
                                style="color:black" data-width="35" data-height="35"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <p style="text-align: center; font-size: 12px;"> illustrations by Storyset</p> -->
    <!-- <footer class=footer></footer> -->
</body>

</html>